<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        Search Restaurants using filters on both food and restaurants
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
            <hr>
            <table>
                <thead>
                  <tr>
                    <th>Restaurant id</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  {% for restaurant in restaurants %}
                    <tr>
                      <td>{{ restaurant.0 }}</td>
                      <td><a href="../restaurants/{{restaurant.0}}">{{ restaurant.1 }}</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

    </center>
</body>

</html>